<head>
    <title>{{ title["title"] }}</title>
    <link rel="shortcut icon" href="{{ title['icon'] }}">
</head>

<body style="background-image: url('https://www.aacounty.org/sebin/l/a/page-background-default.jpg');">
<br>
<font color="white">
    <center><h1>Thank you for your message, <em>{{ title["name"] }}</em>!</h1></center>
    <center><h1>I`ll get in contact with you as soon as possible. Have a good day!</h1></center>
</font>
<br>
<center>
    <image src="https://scontent.fsbz1-2.fna.fbcdn.net/v/t1.0-9/105974196_112423217189766_6290667127659613734_o.jpg?_nc_cat=108&ccb=2&_nc_sid=174925&_nc_ohc=aJ4C7MB-z2AAX-kU2TT&_nc_oc=AQlzhBrrZ9IWNP-3Jtg0-sNkuXWe-CAsLnIfsu1lgdkLWTkRAUMNypoH4xaN38CocCc&_nc_ht=scontent.fsbz1-2.fna&oh=4d915ce1c3eb38a7edbeeb7eed22d735&oe=6029D07B
" width="400" height="475"></image>
</center>
<br><br>
<hr>
<br>
<center><h1>Return to the homepage!</h1></center>
<center><a href="{{ url_for('home') }}" target="_parent"><img
        src="https://image.flaticon.com/icons/png/512/69/69524.png" width="100" height="100"></a></center>
</body>
